Repository ChristanV/nixos-config-wsl: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, nix-flake-check

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

nix-flake-check:
  name: nix flake check
  entry: nix flake check
  language: system
  pass_filenames: false

Adding nix formattings and linters
  .pre-commit-config.yaml
  configuration.nix
  flake.nix
Due: nixfmt, nix-flake-check

Adding python virtualenv creator function
  configuration.nix
Due: nixfmt, nix-flake-check

Adding development packages
  .pre-commit-config.yaml
  configuration.nix
  flake.lock
  flake.nix
Due: nixfmt, nix-flake-check

Updating packages and fixing ssl issue
  configuration.nix
  flake.nix
Due: nixfmt, nix-flake-check

Migrating to trunk
  .pre-commit-config.yaml
  .trunk/.gitignore
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/trunk.yaml
  flake.nix
Due: nixfmt, nix-flake-check

Adding zsh function for aws
  configuration.nix
Due: nixfmt, nix-flake-check

Adding packages and python numpy fix
  configuration.nix
  flake.lock
  flake.nix
Due: nixfmt, nix-flake-check

Updating lockfile
  flake.lock
Due: nix-flake-check

Upgrading to 25.11
  Taskfile.yml
  configuration.nix
  flake.lock
  flake.nix
Due: nixfmt, nix-flake-check

Update readme
  README.md
Due: none

Swapping yq package
  flake.lock
  flake.nix
Due: nixfmt, nix-flake-check

Update trunk
  .trunk/trunk.yaml
Due: none

Update trunk and refactor conf
  .prettierignore
  .prettierrc.yaml
  .trunk/trunk.yaml
  configuration.nix
  flake.lock
Due: nixfmt, nix-flake-check

Path conditions:
  nixfmt: any of: \.nix$
  nix-flake-check: any of: \.nix$|flake\.lock$
